global:
  scrape_interval:     15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'cadvisor'
    dns_sd_configs:
    - names:
      - 'tasks.cadvisor'
      type: 'A'
      port: 8080

  - job_name: 'node-exporter'
    dns_sd_configs:
      - names:
        - 'tasks.node-exporter'
        type: 'A'
        port: 9100

  - job_name: 'file-service'
    file_sd_configs:
      - files:
          - '/etc/hostname'

  - job_name: 'twir-parser'
    dns_sd_configs:
      - names:
          - 'tasks.twir_parser'
        type: 'A'
        port: 3000
    metrics_path: '/metrics'

  - job_name: 'twir-bots'
    dns_sd_configs:
      - names:
          - 'tasks.twir_bots'
        type: 'A'
        port: 3000
    metrics_path: '/metrics'

  - job_name: 'twir-websockets'
    dns_sd_configs:
      - names:
          - 'tasks.twir_websockets'
        type: 'A'
        port: 3004
    metrics_path: '/metrics'